<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>User: <%= user %></p>
<a href="/auth/google"><img src="https://coderwall-assets-0.s3.amazonaws.com/uploads/picture/file/4314/download.png"/>
</a></body>
</html>
